Brewfile.lock.json
Thumbs.db
.DS_Store

*.log
log/
logs/

.venv/
__pycache__/
node_modules/
dist/
build/

config/tmux/plugins/
config/tmux/resurrect/
config/starship/nerd.toml
config/zsh/completions/
config/zsh/*.local
config/zsh/.zcompdump*
*.zwc
*.zwc.old
.zsh_history
.zsh_sessions
.zcalc_history
